a{
    margin: 20px;
}
body {
    background-color: #f4f1de;
    color: maroon;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.75;
    width: 90%;
    float: auto;
    margin: 50px;
}
header {
    background-color: white;
    width: 90%;
    height: 90%;
    border: thick double maroon;
    margin: 0 auto; /* 0 refers to margin-top and margin-bottom, auto is for left and right */
    margin-top: 50px;
}
h1, h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif; /* custom sans-serif Google font*/
    color: #e07a5f;
    font-size: 100px;
    text-align: center;
    margin-top: 0;
}
h2 {
    font-size: 20px
}
img{
    border-radius: 8px;
}
li{
    display: block;
    width: 100%;
    margin: 10px;
}
main{
    display: flex;
    background-color: white;
    width: 90%;
    height: 90%;
    float: auto;
    margin: 0 auto;
    border: thick double maroon;
    /* overflow: auto; */
}
p {
    margin: 20px 20px;
}
table, td, th{
    /* border: 2px maroon solid; */
    background-color: rgb(249, 197, 151) ;
    color: white;
    font-size: 16px;
    margin: 0 auto;
}
table, td, th, #misc, #locations-list{
    border: 2px maroon solid;
}
ul{
    margin: 50px;
}
.bold{
    font-weight: bold;
}
.emphasized {
    font-weight: bold;
    font-size: 20px;
}
.italic{
    font-style: italic;
}
/* #about-us{
    /* display: flex; */
    /* position: relative; */
    /* width: 852px;
    height: 480px; */
    /* block-size: 250px; */

/* } */
#about-us p{
    height: auto;
    width: 600px;
    text-align: center;
}
#chinook {
    block-size: 75px;
}
#cookies{
    block-size: 100px;
    margin-top: 15px;
    float: left;
    padding: 0 8px 8px 0;
}
#custcookie{
    block-size: 75px;
    margin-top: 25px;
}
#cutter{
    block-size: 100px;
    margin-top: 25px;
}
#family{
    margin: 25px;
    block-size: 300px;
}
#locations-list{
    position: relative;
    margin: 20px;
    width: 20%;
    padding: 10px;
    /* border: solid maroon 2px; */
}
#logo {
    block-size: 100px;
    margin-top: 25px;
}
#misc{
    position: relative;
    margin: 20px;
    width: 20%;
    padding: 10px;
    /* border: solid maroon 2px; */
}
#t-shirt {
    block-size: 100px;
}